<!DOCTYPE html>
<html lang="en">
<head>
    {%load bootstrap4%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <meta charset="UTF-8">
    <title>登录成功页</title>
</head>
<!--<div style="text-align:center">-->
    <!--<a>嘿，{{user}}欢迎你登录成功</a>-->
<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/event_manage/">Guest mansge</a>
        </div>>
    <div id="navbar" class="collapse navbar-coolapse">
        <ul class="nav navbar-nav">
            <li><a href="/event_manage/">发布会</a></li>
            <li class="active"><a href="#">嘉宾</a></li>
            </ul>>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{user}}</a></li>
            <li><a href="logout">退出</a></li>
            </ul>>
        </div>
    </nav>
<!--发布会列表-->
      <div class="page-header" style="padding-top:60px;">
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form" method="get" action="/search_name/">
            <div class="form-group">
              <input name="name" type="text" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
<div class="row" style="padding-top:80px;">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th><th>名称</th><th>电话</th><th>邮箱</th><th>状态</th><th>发布会</th>
            </tr>
            </thead>
            <tbody>
            {%for guest in guests%}
            <tr>
                <td>{{guest.id}}</td>
                <td>{{guest.realname}}</td>
                <td>{{guest.phone}}</td>
                <td>{{guest.email}}</td>
                <td>{{guest.sign}}</td>
                <td>{{guest.event}}</td>
                </tr>
            {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
      <!-- 列表分页器 -->
    <div class="pagination">
      <span class="step-links">
        {% if guests.has_previous %}
          <a href="?phone={{ phone }}&page={{ guests.previous_page_number }}">previous</a>
        {% endif %}
          <span class="current">
            Page {{ guests.number }} of {{ guests.paginator.num_pages }}.
          </span>
        {% if guests.has_next %}
          {% if phone %}
            <a href="?phone={{ phone }}&page={{ guests.next_page_number }}">next</a>
          {% else %}
           <a href="?page={{ guests.next_page_number }}">next</a>
          {% endif %}
        {% endif %}
      </span>
    </div>
<body>

</body>
</html>